@model EmpApp.Models.AwardViewModel
@{
    IEnumerable <String> employees = ViewData["Employee"] as IEnumerable<String>;
}
<br /><br />
      <form asp-action="Create" method="Post">
          <div class="form-horizontal">
              <div class="form-group">
                  <label asp-for="EmployeeName" class="col-lg-2 col-sm-3 control-label"></label>
                  <div class="col-lg-3">
                      <select class="form-control" asp-for="EmployeeName"
                              asp-items="@(new SelectList(employees))">
                          <option>--Select employee--</option>
                      </select>
                      <span asp-validation-for="EmployeeName" class="text-danger"></span>
                  </div>
              </div>



              <div class="form-group">
                  <label asp-for="AwardName" class="col-lg-2 col-sm-3 control-label"></label>
                  <div class="col-lg-3">
                      <input asp-for="AwardName" class="form-control" value="Employee  Of the Month" />
                  </div>
              </div>

              <div class="form-group">
                  <label asp-for="PrizeAmount" class="col-lg-2 col-sm-3 control-label"></label>
                  <div class="col-lg-3">
                      <input asp-for="PrizeAmount" class="form-control" value="100" />
                  </div>
              </div>

          </div>



          <input type="submit" value="Save" class="col-lg-2 col-md-offset-2 btn btn-success" /> <br />

      </form>